[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Android Maintainers
	label-Verified = -1..+0 group Android Maintainers
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[project]
	description = Obsolete - functionality now provided by platform/packages/apps/ExactCalculator
[access]
	inheritFrom = Platform-Unrestricted-Projects
[plugin "find-owners"]
	rejectErrorInOwners = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
